In [28]:
# Importing the required libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [29]:
# Load the dataset
df =pd.read_excel('Dataset_1.xlsx')

In [30]:
#Display the first few rows
df.head()

,DESCRIPTION,EXTRACT_DATE,DATA_SOURCE,PROPERTY_TYPE,LOCATION,REGION,PRICE,FLOOR_SIZE,NO_OF_BEDROOMS,NO_OF_BATHROOMS,PRICE_SQFT,Unnamed: 11
0,A Lovely Apartment Perfect As Your Next Home,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1068,2,2,79.588015,NaN
1,A Resort Style Lifestyle With Water Views,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,79960,1050,2,2,76.152381,NaN
2,A Splendid Apartment With Multiple Functions,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1044,2,2,81.417625,NaN
3,AMAZING 2BD DIRECT FROM LANDLORD,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,115000,1472,2,3,78.125000,NaN
4,AMAZING VIEW | Book Now! | Flexible Payment,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,84995,1674,2,3,50.773596,NaN

In [31]:
# Select relevant columns and drop missing values
df_clean = df[['PRICE', 'PRICE_SQFT', 'NO_OF_BATHROOMS', 'FLOOR_SIZE']].dropna()

In [32]:
# Define independent variables (price per square foot, number of bathrooms, floor size)
X = df_clean[['PRICE_SQFT', 'NO_OF_BATHROOMS', 'FLOOR_SIZE']]
X = sm.add_constant(X)  # Add constant term for intercept

# Define dependent variable (Price)
Y = df_clean['PRICE']

In [33]:
# Fit the multiple linear regression model
model = sm.OLS(Y, X)
results = model.fit()

# Print summary of the model
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.985
Model:                            OLS   Adj. R-squared:                  0.985
Method:                 Least Squares   F-statistic:                     7839.
Date:                Thu, 03 Apr 2025   Prob (F-statistic):          2.96e-323
Time:                        10:17:50   Log-Likelihood:                -3276.8
No. Observations:                 358   AIC:                             6562.
Df Residuals:                     354   BIC:                             6577.
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -9.756e+04   1269.713    -76.835      0.000      -1e+05   -9.51e+04
PRICE_SQFT       1368.6748     11.095    123.357      0.000    1346.854    1390.496
NO_OF_BATHROOMS   496.9900    245.695      2.023      0.044      13.785     980.195
FLOOR_SIZE         69.6993      0.648    107.591      0.000      68.425      70.973
==============================================================================
Omnibus:                      122.851   Durbin-Watson:                   1.888
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              919.750
Skew:                          -1.225   Prob(JB):                    1.90e-200
Kurtosis:                      10.460   Cond. No.                     1.40e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.4e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [34]:
# Compute 95% confidence intervals for regression coefficients
confidence_intervals = results.conf_int(alpha=0.05)
confidence_intervals.columns = ['Lower Bound', 'Upper Bound']
print(confidence_intervals)

                   Lower Bound   Upper Bound
const           -100055.894814 -95061.634803
PRICE_SQFT         1346.853913   1390.495599
NO_OF_BATHROOMS      13.784914    980.195114
FLOOR_SIZE           68.425244     70.973347